<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0">
	<title>강아지를 처음 키울 때 알아야 할 것</title>
</head>
<body>
	<h1>강아지를 처음 키울 때 알아야 할 것</h1>
	<hr>
	<ol>
		<li><a href="#vaccination">예방 접종</a>
		<li><a href="#walk">산책</a>
		<li><a href="#management"> 각종 관리</a>
			<ul>
				<li>이빨 닦기
				<li>귀 닦기
				<li>눈물 닦기
				<li>발톱 자르기
			</ul>
	</ol>
	<br>
	<h3 id="vaccination">예방 접종</h3>
	<p>종합백신: 6~14주 차에 2주 간격으로 각 1번씩 총 5회<br>
	코로나 장염: 6, 8주 차에 각 1번씩 총 2회<br>
	켄넬코프: 10, 12주 차에 각 1번씩 총 2회<br>
	광견병: 12주 차, 1년 차에 각 1번씩 총 2회<br>
	인플루엔자: 14, 16주 차에 각 1번씩 총 2회<br>
	첫 예방접종이 끝났다면, 모두 1년 주기로 접종해 주면 된다.</p>
	<br>
	<h3 id="training">산책</h3>
	<p>운동은 강아지의 체중 관리에도 효과적일 뿐만 아니라, 정신을 자극하는 역할을 한다. 만약 강아지를 데리고 공원에 산책을 나갈 시간이 없다면 소소하게나마 강아지를 데리고 가까운 동네를 한 바퀴 도는 것도 좋다. 그게 어렵다면 집 바로 앞에서 공놀이를 하거나, 집에서 노즈워크, 장난감 던지기 게임 등을 하는 것도 좋다. 또한 강아지를 밖에 데리고 나간다면 산책줄과 인식표는 필수다.
	</p>
	<br>
	<h3 id="management">각종 관리</h3>
	<div><h4>이빨 닦기</h4>
		<p>치주 질환은 잇몸을 따라 음식이나 박테리아가 쌓여 치석이 형성되어 발병한다. 강아지에게 흔한 질병으로, 제때 관리하지 못하면 염증이 기타 장기로까지 퍼진다. 치아건강은 신체 건강은 물론 기대수명에도 영향을 미친다. 따라서, 일상적으로 양치질을 하면서 구강관리를 해주는 것이 중요하다. 이때, 어금니 양치질에 있어서는 거즈를 사용하는 것도 좋다.</p>
		<h4>귀 닦기</h4>
		<p>간격은 주 1회가 적당하다. 먼저 귀 세정제를 귓바퀴 따라서 두 방울 정도 부드럽게 흘려준다. 강아지가 머리를 흔들기 전에 귀의 아랫부분을 마사지해준 후 준비해둔 화장솜을 통해 닦아준다.</p>
		<h4>눈물 닦기</h4>
		<p>대부분의 경우 눈물이 났을 때 꼼꼼히 닦으면 착색을 예방할 수 있다. 여기서 '꼼꼼히'의 기준은 얼굴 부위 털을 잘 다듬는 것과 하루에 두 번 이상 젖은 솜으로 눈물을 닦아내는 것을 말한다. 이때, 콘택트렌즈 세척 시 사용하는 식염수를 사용하면 효과적이다.</p>
		<h4>발톱 자르기</h4>
		<p>강아지 발톱을 잘라야하는 이유는 사람의 경우와 같다. 사람이 손톱, 발톱을 자르지 않으면  일상생활에 불편한 것처럼 강아지도 발톱이 너무 길면 걷고 뛰는 데에 불편함을 느낀다. 오랜 시간 발톱을 자르지 않는 경우 발톱이 부러지거나 발가락 골절 위험까지 있기 때문에 주기적인 발톱 관리는 중요하다.강아지 발톱은 사람 발톱과 다르다. 발톱의 꽤 끝부분까지 혈관이 연장되어 있다. 따라서, 사람 발톱을 자르듯이 살에 가깝게 발톱을 자르면 안 된다.</p>
	</div>
</body>
</html>